header{
    margin:2% 0;
    display: flex;
    .containersSetUp();
    justify-content: space-between;
    nav{
        display: flex;
        align-items: flex-end;
        margin:.5%;
        button{  
        .button-styles(20px,1.5rem);
        text-decoration: none;
        color:black;
        height: 50%;
        
        
    }
    }

    
    img{
        width:10%;
        border-radius: 15px;
    }
}