.heroimg{
  display: flex;
  justify-content: center;
  .holder{
    .containersSetUp();
   width: 90%;

  }
  img{
    width: 100%;
    border-radius: 20px;
    
  }
}

.intermediate{
  .containersSetUp();
  margin: 2% 0;
  display: flex;
  .smallcontainer{
    text-align: center;
    margin:1%;
    font-size: 1.3rem;
    width:30%;
    height:100%;
    .containersSetUp();
    
  }
  .holders{

    padding:1%;
  }
  .text-container{
    .containersSetUp();
    font-size: 1.5rem;
    
    
  }
}

.divided{
  
  display: flex;
  justify-content: space-between;

  h2{
    font-size:2rem ;
  }
}